html {
  scroll-behavior: smooth;
}

/* body */
.wrapper {
   background-color: #e3f2fd;
}
.boldtitles {
    font-family: 'Bangers', cursive;
}
.p {
    font-family: 'Raleway', sans-serif;
}

/* header */
.defaultHeaders {
    color: cyan;
}

#navbarhide {
    position: fixed;
    width: 100%;
    top: 0;
    transition: all .6s;
}

.navbar-brand   {
    font-size: 1.75em !important;
    font-family: 'Bangers', cursive;
    color: #fff !important;
}
.nav-link {
    font-weight: normal;
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.0em;
    margin-left: 1em;
    color: #fff !important; 
}


.nav-item {
    border-bottom-color: #fff;
    border-bottom-width: 3px; 
}
 

<<<<<<< HEAD
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 70px;
  color: #000000;
  text-align: center;
}

    /* article */
.articleThumbs {
    /* max-height: 100px !important; */
    min-width: 175px !important;
    max-width: 250px !important;
}
.articleLinks {
    text-decoration: none !important;
}
.media {
    margin-bottom: 2em;
}
.card-body {
    padding: 10px !important;
=======
/* content */
.contentku {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Raleway', sans-serif;
>>>>>>> upstream/development
}
    /* carousel */
.carouselBlock {
    z-index: 0;
}
.carouselSlide {
    height: 600px;
}
.carousel-caption {
    width:200px;
    z-index:10;
    color:#fff;
    text-align:left;
    top:50%;
    left:20%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}





    
