html {
  scroll-behavior: smooth;
}

/* body */
.wrapper {
   background-color: #fff;
}
.boldtitles {
    font-family: 'Bangers', cursive;
}
.p {
    font-family: 'Raleway', sans-serif;
}

/* header */
.navbar {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    background-color: #fff;  
    border-bottom: 2px double #ff6600 !important;
    border-width: 1em;
}

#navbarhide {
    position: fixed;
    width: 100%;
    top: 0;
    transition: all .6s;
}

.navbar-brand   {
    font-size: 1.75em !important;
    font-family: 'Bangers', cursive;
    color: #ff6600 !important;
}
.nav-link {
    font-weight: normal;
    font-family: 'Raleway', sans-serif !important;
    font-size: 1.0em;
    margin-left: 1em;
    color: #ff9a76 ; 
}
.nav-link:hover {
    color: #ff6600 !important;
}

.nav-item {
    border-bottom-color: #fff;
    border-bottom-width: 3px; 
}
 

/* CONTENT */

/* carousel */
.carouselBlock {
    z-index: 0;
}
.carouselSlide {
    height: 600px;
}
.carousel-caption {
    text-shadow: 2px 2px 7px #111111;
    top: 30%;
}

#displaced1 { /*FOR THE 1ST CAROUSEL SLIDE CAPTION*/
    width:325px;
    z-index:10;
    color:#fff;
    text-shadow: 2px 2px 7px #111111;
    text-align:left;
    top:50%;
    left:12%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}

#displaced2 { /*FOR THE 1ST CAROUSEL SLIDE CAPTION*/
    top: 60%;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}


/*INDEX CONTENT*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1a1a1a;
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
}


/*ABOUT PAGE*/

.iter {
  font-family: 'Bangers', cursive;
  font-size: 85px;
  text-align: center;
  color: #ff6600;
}

.iterdesc {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  text-align: justify;
}

.click {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
}

.btn1{
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: #407899;
  margin-bottom: 50px;
}

.btn1:hover{  
  background: #407899;
  color: white;
}

.modal1hstyle {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  margin-left: 300px;
  color: white;
}

.modal1bstyle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #407899;
  color: white;
}

.btn2{
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: #41d3bd;
}

.btn2:hover{  
  background: #41d3bd;
  color: white;
}

.modal2hstyle {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  margin-left: 290px;
  color: white;
}

.modal2bstyle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #41d3bd;
  color: white;
}

.btn3{
  font-family: 'Bangers', cursive;
  font-size: 40px;
  color: #791e94;
}

.btn3:hover{  
  background: #791e94;
  color: white;
}

.modal3hstyle {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  margin-left: 280px;
  color: white;
}

.modal3bstyle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #791e94;
  color: white;
}

