/* body */
.wrapper {
   background-color: #e3f2fd;
}

/* header */
.defaultHeaders {
    color: cyan;
}
.navbar-brand   {
    font-size: 1.5em !important;
}
.nav-link {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.10em;
    margin-left: 1em;
    color: #fff !important; 
}
/* .nav-link:hover {
    color: #fff !important;
} */


/* content */

    /* carousel */
.carouselSlide {
    height: 600px;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: #ffffff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 70px;
  color: #000000;
  text-align: center;
}

    /* article */
.articleThumbs {
    /* max-height: 100px !important; */
    min-width: 175px !important;
    max-width: 250px !important;
}
.articleLinks {
    text-decoration: none !important;
}
.media {
    margin-bottom: 2em;
}
.card-body {
    padding: 10px !important;
}
.card-text {
    margin-bottom: 20px;
}
.sidebarLink {
    font-size: .8em !important;
    font-weight: bold;
    text-decoration: none;
}
.sidebarText {
    font-size: .9em !important;
    /* text-align: justify !important; */
}
